@use "@styles/colors";
@use "@styles/typography";

.base {
  nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: flex-start;

    > a {
      order: 0;
      flex: 1 1 auto;
      align-self: auto;
      flex-basis: 45%;
    }

    > a ~ a {
      margin-left: .5em;
    }
  }

  // Next / prev buttons
  a {
    font-size: 1em;
    line-height: 1em;
    display: inline-block;
    background-color: colors.$blue;
    border-radius: 8px;
    color: White;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    text-align: center;

    padding: 1em 0;
  }
}

.info {
  display: block;
  color: colors.$dark-gray;
  line-height: typography.$line-height-xxl;
  padding: typography.$horizontal-space-md 0;
  font-weight: 600;
}
