@use "@styles/colors";
@use "@styles/typography";

.base {
  display: inline-block;
  text-decoration: none;
  color: colors.$black;
  font-size: 1.06em;
  font-weight: 600;

  border-radius: 8px;
  border: solid 1px transparent;

  padding: typography.$horizontal-space-md typography.$horizontal-space-md;

  transition: border .25s ease-out;

  &:hover {
    border: solid 1px colors.$hr-gray;
  }

  span {
    position: relative;
    top: .05em;
  }

  > svg  {
    vertical-align: middle;
    height: 1.25em;
    > path {
      fill: #1DA1F2;
    }
  }
}
