@use "@styles/breakpoints";
@use "@styles/typography";
@use "@styles/colors";

.base {
  h1 {
    font-family: typography.$heading-font;
    line-height: typography.$line-height-xl;
    font-weight: 600;
    font-size: 2.44em;
    margin-bottom: 0.382em;
    color: colors.$black;
  }
}
