@use "@styles/breakpoints";
@use "@styles/colors";
@use "@styles/typography";

.base {
  color: colors.$black;

  p, li {
    font-size: 1.06em;
    line-height: 1.842em;
    padding-bottom: 1.618em;
  }

  // Headings
  @for $index from 1 through 6 {
    h#{$index}{
      font-family: typography.$heading-font;
      line-height: typography.$line-height-sm;
      font-weight: 600;
      padding: 0.618em 0;
    }
  }

  h2 {
    font-size: 2.08em;
  }

  h3 {
    font-size: 1.66em;
  }

  ol {
    list-style-type: decimal;
    list-style-position: outside;
    padding-left: 1.75em;
  }

  // Youtube embeds
  iframe {
    max-width: 100%;
  }

  :last-child {
    padding-bottom: 0;
    margin-bottom: 0;
  }

  @include breakpoints.respond-to("xxl") {
    p, li {
      font-size: 1.19em;
    }

    h2 {
      font-size: 2.46em;
    }

    h3 {
      font-size: 2.05em;
    }
  }

  a {
    color: colors.$blue;
    text-decoration: underline;

    a:hover {
      text-decoration: none;
    }
  }
}

