@use "@styles/breakpoints";
@use "@styles/typography";
@use "@styles/colors";

.base {
  font-size: typography.$fluid-setting;

  h1 {
    font-family: typography.$heading-font;
    line-height: typography.$line-height-sm;
    font-weight: 600;
    // This H3 size really
    font-size: 2.59em;
    margin-bottom: 0.5em;
    color: colors.$black;
  }

  @include breakpoints.respond-to("lg") {
    h1 {
      font-size: 3.55em;
    }
  }
}
