@use "@styles/colors";
@use "@styles/typography";
@use "@styles/breakpoints";

// Basic standarized form
.base {
  //
  font-size: .85em;

  font-family: typography.$main-font;

  @include breakpoints.respond-to("xxl") {
    font-size: typography.$fluid-setting;
  }

  input {
    // Reset
    background: none;
    border: none;
    padding: 0;
    border-radius: none;
    display: inline-block;

    font-size: .938em;
    background-color: white;
    padding: 1em .5em;

    border: solid 1px colors.$light-gray;
    outline: none;

    display: block;
    width: 100%;

    &:focus {
      box-shadow: inset 0 0 10px rgba(0, 0, 0, .25);
      border: solid 1px colors.$focus;
    }
  }

  button {
    // Reset
    background: none;
    border: none;
    padding: 0;
    border-radius: none;
    display: inline-block;

    line-height: 100%;
    text-transform: uppercase;
    color: White;
    font-weight: 700;
    font-size: .938em;
    padding: 1em 2em;
    cursor: pointer;

    background-color: colors.$blue;
    border: solid 1px darken(colors.$blue, 5%);

    transition: background-color .25s ease-out;

    outline: none;
    box-sizing: border-box;

    &:hover {
      background-color: darken(colors.$blue, 10%);
    }

    &:focus {
      box-shadow: inset 0 0 10px rgba(0, 0, 0, .55);
      border: solid 1px colors.$focus;
    }
  }

  label {
    display: block;
    color: colors.$blue;
    font-size: .99em;
    line-height: typography.$line-height-xxl;
  }

  h2 {
    font-size: 1.71em;
    color: colors.$blue;
    line-height: typography.$line-height-xxl;
    margin-bottom: 0.382em;
    font-weight: 700;
  }


  .form-container {
    position: relative;
  }

  form {
    transition: opacity .25s ease-out;

    &[aria-hidden="true"] {
      opacity: 0;
    }
  }

  // Loading state
  &[aria-busy="true"] {
    form {
      opacity: 0;
    }
    &::after{
      content: "";
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      // background-color: White;
      display: block;
      position: absolute;
    }
  }
}

.loader {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  // background-color: White;
  display: block;
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;
}

.inputError {
  font-size: .82em;
  color: colors.$error;
  min-height: 2em;
  transform: translate3d(0, 0, 0);
  // animation: shake 2s infinite linear;
}

.thanks {
  font-size: 1.063em;
  position: absolute;
  font-weight: 700;
  animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

@keyframes shake {
  0%,
  69% {
    transform: translate3d(0, 0, 0);
  }

  70%,
  80% {
    transform: translate3d(-3px, 0, 0);
  }

  75%,
  85% {
    transform: translate3d(3px, 0, 0);
  }

  90% {
    transform: translate3d(-2px, 0, 0);
  }

  95% {
    transform: translate3d(2px, 0, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}


/* ----------------------------------------------
 * Generated by Animista on 2022-1-17 20:54:5
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation puff-in-center
 * ----------------------------------------
 */
 @keyframes puff-in-center {
  0% {
    transform: scale(2);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    filter: blur(0px);
    opacity: 1;
  }
}
