@use "@styles/typography";

.base {
  display: block;
}

.portrait {
  text-align: center;
  margin-bottom: typography.$horizontal-space-lg;

  > figure {
    width: 66%;
    border-radius: 50%;
    display: inline-block;
  }
}
