@use "@styles/breakpoints";

.base {
  background-color: transparent;
  height: 21vw;
  min-height: 260px;
  overflow: hidden;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(
    90deg,
    rgba(107, 182, 221, 0.35) 40%,
    rgba(255, 255, 255, 1) 90%
  );

  &::after {
    content: "";
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;

    background-image: url("@images/memocracy-bg.svg");
    background-repeat: repeat-y;
    background-size: 100% auto;

    @include breakpoints.respond-to("lg") {
      background-repeat: no-repeat;
      background-size: 100% auto;
      background-attachment: fixed;
    }
  }
}

.inner-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: center;
  column-gap: 3vw;

  z-index: 1;

  padding: 0 20px;
  width: 100%;

  > :nth-child(2) {
    order: 0;
    flex: 1 1 auto;
    align-self: auto;
  }

  > :nth-child(3) {
    width: 24%;
  }

  @include breakpoints.respond-to("lg") {
    padding: 0 0;
    width: 80%;
  }

  @include breakpoints.respond-to("xl") {
    > :nth-child(3) {
      width: 18%;
    }
  }
}

.logo {
  width: 13vw;
  height: 100%;
  transform: scale(1.25);
}

.project-baner {
  font-size: 1.2vw;

  h1 {
    color: black;
    font-size: 5.85em;
  }

  p {
    color: white;
  }
}
