@use "@styles/colors";

.base {
  position: relative;

  &::before {
    content: "";
    display: block;
    background-color: colors.$hr-gray;
    height: 1px;
    width: 100%;
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 1));
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }
}

.illustration {
  border: solid 8px yellow;
}

.content {
  border: solid 8px red;
}

.header {
  border: solid 8px green;
}

.date {
  border: solid 8px turquoise;
}
