@use "@styles/colors";

.base {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: colors.$blue;
  transition: all .5s ease-in-out;
  display: block;
  z-index: 2;

  &[aria-hidden="true"] {
    visibility: hidden;
  }
}

.show {
  transform: translateX(0);
}

.hide {
  transform: translateX(100%);
}
