@use "@styles/typography";

.base {
  font-family: typography.$main-font;
  background: none;
  border: none;
  padding: 0;
  border-radius: none;
  display: inline-block;
  line-height: 0;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}

.primary {
  color: White;
}

.twitter {
  background-color: #1DA1F2;
  border-radius: 8px;
  padding: 1em 2em;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
}

.transparent {
  background-color: transparent;
}
