@use "@styles/breakpoints";
@use "@styles/typography";

.base {
  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;
}

.inner-container {
  font-size: typography.$fluid-setting;

  width: 100%;

  padding: 40px 20px;
  z-index: 1;

  @include breakpoints.respond-to("xl") {
    padding: 4em 0;
    width: 80%;
  }
}
