@use "@styles/breakpoints";

.base {
  display: block;
}

// From lg we use grids
@include breakpoints.respond-to("lg") {
  .base {
    display: grid;
    justify-content: start;
    grid-gap: 60px;
  }

  .columns-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .columns-12 {
    grid-template-columns: repeat(12, 1fr);
  }
}
