$blue: #1F6B86 !default;
$dark-gray: #4B4B4B !default;
$light-gray:  #E7E7E7 !default;
$black: #262626 !default;
$focus: #e5ec76 !default;
$error: #c90000 !default;
$footer-gray: #787878;
$mid-gray: #BFBFBF;
