$main-font: 'Arimo', sans-serif !default;
$heading-font: "Acumin Pro ExtraCondensed", sans-serif !default;

$line-height-xs: 1.2em;
$line-height-sm: 1.3em;
$line-height-md: 1.45em;
$line-height-xl: 1.618em;
$line-height-xxl: 1.842em;

$fluid-setting: clamp(1rem, 1.5vw - 1rem, 2.5rem) !default;
