@use "@styles/colors";

@mixin standard-button {
  font-size: 1em;
  line-height: 1em;
  display: inline-block;
  background-color: colors.$blue;
  border-radius: 8px;
  color: White;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  text-align: center;

  padding: 1em 0;

  transition: background 0.5s ease-out;

  &:hover {
    background-color: darken(colors.$blue, 20%);
  }
}
