@import "reset-css/sass/reset";

/* @font-face {
  font-family: "Acumin Pro ExtraCondensed";
  src: url("@fonts/AcuminProExtraCond-LightItalic.woff2") format("woff2"),
    url("@fonts/AcuminProExtraCond-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
} */

@font-face {
  font-family: "Acumin Pro ExtraCondensed";
  src: url("@fonts/AcuminProExtraCond-Semibold.woff2") format("woff2"),
    url("@fonts/AcuminProExtraCond-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* @font-face {
  font-family: "Acumin Pro ExtraCondensed";
  src: url("@fonts/AcuminProExtraCond-SemiboldItalic.woff2") format("woff2"),
    url("@fonts/AcuminProExtraCond-SemiboldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
} */

@font-face {
  font-family: "Acumin Pro ExtraCondensed";
  src: url("@fonts/AcuminProExtraCond-Light.woff2") format("woff2"),
    url("@fonts/AcuminProExtraCond-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

html,
body {
  height: 100%;
}
